{% extends 'wrapper.html' %}
{% block body %}


    <h1 class="mb-3">{{ user.username }} posts ({{ posts.count }})</h1>

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'accounts:user_profile' pk=user.pk%}">{{ post.user }}</a>
              <small class="text-muted">{{ post.created|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'home:post-detail' post.id%}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.post }}</p>
          </div>
        </article>
    {% endfor %}


{% endblock %}
