{% extends 'wrapper.html' %}
{% load crispy_forms_tags %}
{% block body %}

    <div class="content-section">
      <div class="media">
          {% if user.userprofile.images %}
            <img class="rounded-circle account-img" src="{{ user.userprofile.images.url }}">
          {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
    </div>

{% endblock %}


{% block col-md-4 %}

<div class="content-section">
    <h3 class="text-center">Menu</h3>
          <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'accounts:profile_settings' %}">Settings</a></li>
              <li class="list-group-item"><a href="">Friend</a></li>
              <li class="list-group-item"><a href="{% url 'home:user_posts' pk=user.id %}">Your posts</a></li>
              <li class="list-group-item"><a href="{% url 'home:post_create' %}">New Post</a></li>
          </ul>

</div>

{% endblock %}