{% extends 'wrapper.html' %}
{% block body %}

    <div class="content-section">
      <div class="media">
          {% if user.userprofile.images %}
            <img class="rounded-circle account-img" src="{{ user.userprofile.images.url }}">
          {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
            {% if posts.count > 0 %}
            <h4 class="">Posts of this user: <a href="{% url 'home:user_posts' pk=user.id %}">{{ posts.count }}</a></h4>
            {% endif %}

        </div>
      </div>
    </div>


{% endblock %}

